<h1>Recipes</h1>
<div class="row">
  <% recipes.each do |recipe| %>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <a href="recipes/<%= recipe.id %>">
          <img src="<%= recipe.image %>" alt="<%= recipe.title %> image" />
        </a>
      </div>
      <div class="card-content">
        <span><%= recipe.title %></span>
      </div>
    </div>
  </div>
  <% end %>
</div>
