<div class="row">
  <div class="col s12">
    <h3><%= recipe.title %></h3>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <a href="/recipes">Back to list</a>
  </div>
</div>
<% if recipe.chef %>
<div class="row">
  <div class="col s12"></div>
</div>
<% end %>
<div class="row">
  <div class="col s12">
    <img class="full-width" src="<%= recipe.image %>" alt="<%= recipe.title %> image" />
  </div>
</div>
<% if recipe.tags.any? %>
<div class="row">
  <div class="col s6">
    <span>By the chef <strong><%= recipe.chef %></strong></span>
  </div>
  <div class="col s6">
    <% recipe.tags.each do |tag| %>
    <span class="new badge" data-badge-caption="<%= tag %>"></span>
    <% end %>
  </div>
</div>
<% end %>
<div class="row">
  <div class="col s12">
    <blockquote><%= markdown(recipe.description) %></blockquote>
  </div>
</div>
